<div class="container p-4 fixed left-0 bg-white h-screen">
  <img src="assets/img/sidebar-logo.png" alt="Sidebar Logo" class="py-4" />

  <div *ngFor="let menu of menus" class="menus-container">
    <div class="text-xs">
      <div
        class="flex align-items-center gap-3 cursor-pointer"
        (click)="handleSelectMenu(menu.key)"
      >
        <p class="font-bold">
          {{ menu.label }}
        </p>
        <i
          class="pi pi-chevron-down transition-all transition-duration-300"
          [ngClass]="
            activeMenu === menu.key ? 'rotate-180' : ''
          "
        ></i>
      </div>

      <div
        *ngIf="menu.children"
        class="p-3"
        [ngClass]="activeMenu === menu.key ? 'show-children' : 'hide-children'"
      >
        <ul *ngFor="let child of menu.children" class="list-none pl-0">
          <li
            [routerLink]="child.path"
            class="no-underline text-6D6D6D font-medium py-3 cursor-pointer"
            routerLinkActive="sidebar-active-text-color"
          >
            {{ child.label }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
