.container {
  z-index: 1;
  width: 228px;
  .sidebar-active-text-color {
    color: #ed1c22;
  }

  .menus-container {
    overflow: hidden;
    .show-children {
      height: 282px;
      transition: all 0.3s ease;
    }

    .hide-children {
      height: 0;
      transition: all 0.3s ease;
    }
  }
}
